# version: '3.9'

# services:
#   api:
#     container_name: finance-api-prod
#     build:
#       context: .
#       dockerfile: Dockerfile.api
#     command: pnpm start:api
#     ports:
#       - "3000:3000"
#     volumes:
#       - .:/app
#       - /app/node_modules
#       - /app/apps/api/node_modules
#     env_file:
#       - ./apps/api/.env
#     environment:
#       - NODE_ENV=production

#     restart: unless-stopped

version: '3.9'

services:
  app:
    container_name: finance-prod
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - ./apps/api/.env        # BE env
    environment:
      PORT: 3002               # FE chạy 3002
      API_PORT: 3000           # nếu bạn dùng biến cho BE
    ports:
      - "3000:3000"            # API
      - "3002:3002"            # Web
    restart: always