services:
  app:
    container_name: finance-prod
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - ./apps/api/.env        # BE env
    environment:
      NODE_ENV: production
      PORT: ${PORT:-3002}               # FE chạy 3002
      API_PORT: ${API_PORT:-3000}          # nếu bạn dùng biến cho BE
    ports:
      - "3000:3000"            # API
      - "3002:3002"            # Web
    restart: always